.bg{

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 120px);
}
.login{
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    background-color: white;
    opacity: 90%;
    border-radius: 20px;
    box-shadow: 1px 1px 50px white;
}

.login-conteudo{
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    z-index: 9999;
    padding: 20px;
    
}
.login-conteudo input[type="text"], .login-conteudo input[type="password"]{
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}
.login-conteudo input[type="submit"]{
    width: 100%;

}